body{
background: linear-gradient(90deg, #ffdab9 0%, #f1d5b8 35%);
font-family: 'Courier New', Courier, monospace;
}


/*PROPRIEDADES DA NAVBAR*/
a {
    text-decoration: none;
   }
li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items: center;
    height: 60px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex: 1;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: nowrap;
    height: 100%;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 10px;
    
  }
   .nav-links a {
    color: black;

   }
   
   .menu li:hover {
    background-color: #ffcb9e;
    border-radius: 5px;
    transition: 0.3s ease;
    padding: 19px;
   }
   .menu li {
    margin-left: 10px;
   }
 
  

input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
    /*RESPONSIVIDADE NAVBAR*/
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#fff2e7;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    font-size: 15px;
   }

   .menu li:hover {
    display: inline-block;
    background-color:#ffdab9;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
 
   }

/*INÃCIO */

.hello, .world{
    font-size: 150px;
}

.hello{
    padding: 3%;
}
.world{
    padding-left: 25%;
    font-weight: bold;
}

.bem-vindo, .fiqueAVontade{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-left: 4%;
}

.lado{
    display: flex;
    justify-content:left;
    padding-right: 53%;
    
}

.empurrar{
    float: right;
}


.aquiEstao, .sobreMim, .contato{
    padding-top: 5%;
    padding-left: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.iconsSocial{
    padding-top: 25px;
    padding-left: 58px;
    font-size: 25px;
}

.iconsSocial i{
    color: black;
}


/*LINK TOPO*/

#link-topo{
    text-decoration: none;
    color: white;
    background-color: #d8af97;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    bottom: 30px;   
}

#link-topo:hover{
    background-color: #ffda89;
}


/*CARDS - PROJETOS*/

main.cards.section2{
    padding-bottom: 50px;
}
main.cards {
    display: flex;
    justify-content: center;
    padding: 260px;
    padding-top: 100px;
    padding-bottom: 0px;
}

main.cards .espaco {
    display: flex;
    
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(253, 253, 253);
    padding: 5rem 1.5rem;
    border-radius: 8px;
    max-height: 300px;
    width: 390px;
    overflow: hidden;
    margin-right: 1rem;

}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 94px;
    height: 74px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 24px;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 380;
    max-width: 240px;
    font-size: 90%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 90%;
    width: 300px;
    height: 45px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px 0;
}

main.cards section.card.contact button {
    background: linear-gradient(to right, #795915, #d8af97);
}
main.cards section.card.shop button {
    background: linear-gradient(to right, #d8af97, #795915);
}
main.cards section.card.about button {
    background: linear-gradient(to right, #795915, #d8af97);
}

main.cards section.card.contact {
    box-shadow: 20px 20px 50px -50px #1a191b;
}
main.cards section.card.shop {
    box-shadow: 20px 20px 50px -50px #000000;
}
main.cards section.card.about {
    box-shadow: 20px 20px 50px -50px #080707;
}

.linha-divisoria {
    width: 100%;
    border: 1px solid #000;
    
}

/*SOBRE MIM*/

.textoSobre-mobile {
    display: none;
  }
.wrapper.about{
    background-image: url(../img/avatar.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 50%;      
    opacity: 70%;
    padding: 5em 1px 10px 1px;

}
.column.about{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    width: 50%;
    height: auto;
    min-height: 100vh;
    padding-left: 15vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.column.about:hover{
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
}

.wrapper-info.about{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px none #e4e4e4;

}

.column.about{
    width: auto;
    padding-right: 10vw;
    padding-left: 10vw;
}

.column.about{
    width: 100%;
}

.column.about{
    padding: 60px 40px;
}

.wrapper-info.about{
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

button.btn {
    display: block;
    margin-bottom: 10px;
    
    
}

.linguagens{
    padding-left: 100px;
}

/*CONTATOS*/

.contatos{
    display: flex;
    justify-content: space-around;
    padding: 10%;
}
.botao {
    background-color: rgb(255, 251, 251); 
    border-radius: 8px;
    color: rgb(44, 27, 27);
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.botao:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} 



/* limitar altura do card*/
.card-img{
    max-height: 250px;
    overflow: hidden;
}

.textoSocial{
    padding-top: 5%;
    padding-left: 40px;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

/*FOOTER*/
.right{
    text-decoration: none;
    color: #000;
    padding: 30px;
}

.right:hover{   
    color: #967735;
}
@media screen and (max-width: 720px){
.page-footer {
    font-size: 15px;
    bottom: 12px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    }    

.container{
    /* width: 300px; */
    height: 300px;
}

}

.section-2 {
    max-width: 1000px;
    margin: 0 auto;
  }
/*RESPONSIVIDADE*/
@media screen and (max-width: 720px) {

    body{
        background: linear-gradient(#fff0ef, #f1eae2);
    }


    #link-topo{
        text-decoration: none;
        color: white;
        background-color: #d8af97;
        padding: 20px;
        border-radius: 10px;
        position: fixed;
        right: 10px;
        bottom: 30px;   
    }
    .top{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .hello, .world {
        font-size: 50px;   
    }

    .hello{
        display: flex;
        justify-content: left;
        padding-left: 50px;
    }
    .bem-vindo{     
        font-size: 12px;
        padding-top: 15px;
    }

    .iconsSocial{
        padding-top: 0%;
        padding-left: 25px;
    }

    .tchau{
        height: 33px;
        padding-top: 15px;
    }

    main.cards {
        max-width: 100%;
        padding: 16px;
    }
    main.cards .espaco {
        display: flex;
        flex-direction: column;
    }
    main.cards section.card {
        width: 100%;
        margin-bottom: 16px;
    }
   
      main.cards section.card:last-child {
        margin-bottom: 0;
      }

      main.cards section.card button {
        font-size: 70%;
        width: 250px;
      }

    .aquiEstao, .sobreMim, .contato{
        padding-right: 140px;
        padding-top: 40px;
    }
  
    .wrapper.about{
        background-image: url(../img/avatar.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 100%;      
        opacity: 70%;
        padding: 5em 1px 10px 1px;
    
    }
    .about {
        width: 100%;
      }

      .wrapper .column.about .project-info.head p {
        display: none;
      }

      .wrapper .column.about .project-info.head h6 {
        font-size:12px;
        align-items: center;
      }

      .wrapper .column.about .project-info.head .textoSobre-mobile {
        display: block;
        text-align: center;
        font-size: 12px;
        padding-left: 90px;
    }


    .wrapper.about .column.about .project-info > div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
      
      .linguagens {
        flex: 1;
        padding-left: 10px;
      }
      
      .textoSobre {
        flex: 1;
        margin-right: 20px;
      }

      .btn {
        padding: 0.5rem 0.8rem;
        border-radius: 0.25rem;
        font-size: 12px;

      }
      h2 {
        font-size: 2rem;
    }

    .container-contatos {
        flex-direction: column; 
        text-align: center; 
      }
      
    .linkedin {
        padding: 10px;
        flex: 50%;
      }

    .github {
        padding: 10px;
        flex: 50%;
      }    

}