/*ANIMAÇÃO INICIAL*/

h5 p {
    font-size: 60px;
    margin-bottom: -100px;
    color: white;
}

h5 {
 font-size:5em;
 font:bold 7.5vw/1.6 'roboto', sans-serif;
 user-select:none;
}

h5 p { display:inline-block; animation:float .5s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover p { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }

/*PROPRIEDADES DA NAVBAR*/

a {
    text-decoration: none;
   }
li {
    list-style: none;
   }
   .navbar {
    display: flex;
    align-items: center;
    height: 60px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    flex: 1;
    padding-right: 25px;
    font-family: serif;
    font-size: 19px;
 
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    flex-wrap: nowrap;
    height: 100%;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 10px;
    
  }
   .nav-links a {
    color: white;
    text-decoration: overline;
    font-family: 'roboto', sans-serif;
   }

   .nav-links a:hover{
    color: rgb(61, 136, 91);
    transition: 0.3s ease;
   }

   .menu li {
    margin-left: 10px;
   }  

input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   
/*INÍCIO */

.hello{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.bem-vindo, .fiqueAVontade{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-left: 4%;
    font-family: serif;
}

.lado{
    display: flex;
    justify-content:right;
    padding-right: 60%;
    
}

.empurrar{
    float: right;
}

.iconsSocial{
    padding-top:25px;    
    padding-bottom: 40px;
    text-align: center;
}
.iconsSocial img{
    width: 60px;
    height: 60px;
    margin-right: 50px;
}

.aquiEstao, .sobreMim, .contato{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left: 40px;
    font-weight: bold;
    color: white;
    font-family: 'roboto', sans-serif;   

}
/*LINK TOPO*/

#link-topo{
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    bottom: 30px;   
}

#link-topo:hover{
    background-color: rgb(61, 136, 91);
}

/*CARDS - PROJETOS*/

main.cards.section2{
    padding-bottom: 50px;
}

main.cards {
    font-family: 'roboto', sans-serif;
    display: flex;
    justify-content: center;    
    padding: 260px;
    padding-top: 100px;
    padding-bottom: 0px;
    align-items: center;
    flex-wrap: wrap;
}

main.cards .espaco {
    display: flex;
    
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'roboto', sans-serif;
    padding: 5rem 1.5rem;
    border-radius: 8px;
    max-height: 300px;
    width: 390px;
    height: 900px;
    overflow: hidden;
    margin-right: 1rem;

}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 94px;
    height: 74px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 24px;
    margin: 16px 0;
    font-weight: bold;
}

main.cards section.card span {
    font-weight: 380;
    max-width: 240px;
    font-size: 90%;
    margin-top: 3%;
    font-weight: 600;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-size: 97%;
    width: 300px;
    height: 45px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 16px 0;
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
main.cards section.card a {
    display: flex;
    justify-content: center;
}

main.cards section.card a button {
    margin: 0 auto;
}

main.cards section.card.contact button {
    background-color: rgba(10,23,55,0);
}

main.cards section.card.shop button {
 background-color: rgba(10,23,55,0);
}

main.cards section.card.about button{
    background-color: rgba(10,23,55,0);   
}

main.cards section.card.contact button:hover{
    text-decoration: overline;
}

main.cards section.card.shop button:hover{
    text-decoration: overline;
}

main.cards section.card.about button:hover{
    text-decoration: overline;
}

.linha-divisoria {
    width: 100%;
    border: 1px solid #000;
    
}

/*SOBRE MIM*/

.textoSobre, .textoHabilidade{
    text-align:center;
}

.blocoSobre, .blocoHabilidades{
    font-family: 'roboto', sans-serif;
    color: white;
    text-align:justify;
    padding-bottom: 50px;
    font-size: 23px;
   
}

.item button{
    color: white;
    font-size: 20px;
}

.item button:hover{
    text-decoration: overline;
    color: white!important;
}
.wrapper-info.about{
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px none #e4e4e4;
}

.column.about{
    width: auto;
    padding-right: 10vw;
    padding-left: 10vw;
}

.column.about{
    width: 100%;
}

.column.about{
    padding: 60px 40px;
}

.wrapper-info.about{
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

button.btn {
    display: block;
    margin-bottom: 10px; 

}

.linguagens {
    display: flex;
    justify-content: space-around;
  }
  
  .item {
    margin-bottom: 10px;
  }
  
  .item.collapsing {
    display: flex;
    align-items: center;
  }
  
  .collapse {
    display: none;
    text-align: center;
    color: white;
  }

  .curriculo{ 
    color: greenyellow;
    font-weight: bold;
    font-size: 22px;
  }

  .curriculo:hover{
    color: rgb(61, 136, 91);
    text-decoration: overline;
  }


/*CONTATOS*/

.contatos{
    display: flex;
    justify-content: center;
    padding: 5%;
}
.botao {
    background: rgb(0, 0, 0, 0);
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

.botao:hover {
    text-decoration: overline;
} 
.textoSocial{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-left: 40px;
    font-size: 30px;
    color: white;
}

/*FOOTER*/
.right{
    padding-left: 600px;
     text-decoration: none;
     color: white;
    
}
.container{    
    height: 70px;
    display: flex;
    justify-content: left; 
    text-align: center;
    color: white;
}

.right:hover{   
    color: green;
}
  
@media screen and (max-width: 1188px) {

    /*NAVBAR*/

    .menu { 
        display:none;
        position: absolute;  
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        font-size: 15px;
       }
    
       .menu li + li {
        margin-top: 12px;
       }
       input[type=checkbox]:checked ~ .menu{
        display: block;
       }
       .hamburger {
        display: block;
        color: white;
       }

    /*FOOTER*/
.right{
        text-decoration: none;      
        padding: 0px;
        display: flex;
        justify-content: center;
        font-size: 13px;
        text-align: center;
    }
.page-footer {
    font-size: 15px;
    bottom: 12px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    }    

.container{
    height: 70px;
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.textoSocial{
    font-size: 23px;
    align-items: center;
}

    ul {
        align-items: center;
    }

 
    .top{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }   

    .hello{
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .hello p{
        font-size: 30px;
    }
    .bem-vindo{     
        font-size: 14px;
    }

    .iconsSocial{
        padding-top: 5%;
        padding-left: 25px;
    }
    
    .iconsSocial img{
        width: 55px;
        height: 55px;
    }


    main.cards {
        max-width: 100%;
        padding: 16px;
    }
    main.cards .espaco {
        display: flex;
        flex-direction: column;
    }
    main.cards section.card {
        width: 100%;
        margin-bottom: 16px;
    }
   
      main.cards section.card:last-child {
        margin-bottom: 0;
      }

      main.cards section.card button {
        font-size: 100%;
        width: 250px;
      }

    .aquiEstao, .sobreMim, .contato{
        padding-right: 140px;
        padding-left: 140px;
        padding-top: 40px;           
          
    }

    .collapse{
        text-align: center;
        align-items: center;
    }
      .linguagens {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 10px;
        align-items: center;
      }
      
      .textoSobre {
        flex: 1;
        margin-right: 20px;
      }

      .btn {
        padding: 0.5rem 0.8rem;
        border-radius: 0.25rem;
        font-size: 12px;

      }
      h2 {
        font-size: 2rem;
    }
/* 
    .container-contatos {
        flex-direction: column; 
        text-align: center; 
      }
      
    .linkedin {
        padding: 10px;
        flex: 50%;
      }

    .github {
        padding: 10px;
        flex: 50%;
      }     */

}